/* text */
.client {
    background: var(--main-background);
    padding: 2%;
}

.client__text {
    text-align: center;
}

.client__text__paragraph {
    color: var(--text-color);
    font-size: 1.50rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.client__text__title {
    color: var(--title-color);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

/* images */
.images-client__group {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    padding: 2% 5%;
}