/* text */
.client {
  background: var(--main-background);
  padding: 2%;
}

.client__text {
  text-align: center;
}

/* images */
.images-client__group {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  padding: 2% 5%;
}

@media screen and (max-width: 720px) {
  .text-title {
    margin-bottom: 0;
  }
  
  .images-client__group {
    flex-direction: column;
    gap: 40px;
  }
}