/* text */
.contact {
  background: var(--alternate-background);
  padding: 2%;
}

.contact__text {
  text-align: center;
}

/*  contact card */
.card-container {
  display: flex;
  justify-content: center;
}

.card-contact {
  border-radius: 10px;
  box-shadow: 0px 0px 72px -100px rgba(0, 0, 0, 0.1),
    0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin: 20px;
  width: 550px;
}

.card-contact__info {
  display: flex;
  align-items: center;
}

.card-contact__icon {
  padding: 1rem 1rem;
}

.card-contact__text {
  flex-direction: column;
}

.card-contact__title {
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
}

.card-contact__paragraph {
  color: var(--text-color);
  font-size: 0.75rem;
}

/* form card name email */
.card-form {
  border-radius: 10px;
  box-shadow: 0px 0px 72px -100px rgba(0, 0, 0, 0.1),
    0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  height: 600px;
  margin: 20px;
  padding: 1.25rem;
  width: 800px;
}

.container-form {
  padding: 1rem;
}

.card-form__info {
  display: flex;
}

.card-form__info__item label,
.card-form__info__item input {
  display: block;
  margin-bottom: 10px;
}

.card-form__info__item {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
}

.card-form__info__item input {
  border: 1px solid #ccc;
  color: var(--text-color);
  font-family: var(--main-font-family);
  font-size: 15px;
  height: 40px;
  width: 90%;
}

.card-form__info__item input::placeholder {
  color: var(--text-color);
  font-size: 14px;
  font-family: var(--main-font-family);
  padding-left: 1rem;
}

/* form card subject  */
.card-form__info__teste {
  width: 95%;
}

.card-form__info__subject input {
  border: 1px solid #ccc;
  color: var(--text-color);
  font-family: var(--main-font-family);
  font-size: 15px;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
}

.card-form__info__subject label,
.card-form__info__subject input {
  display: block;
  margin-bottom: 10px;
}

.card-form__info__subject input::placeholder {
  color: var(--text-color);
  font-size: 14px;
  font-family: var(--main-font-family);
  padding-left: 1rem;
}

/* form card text area/message */
.card-form__info__subject {
  margin: 1rem 0;
}

.card-form__info__area {
  margin: 1.75rem 0;
}

.card-form__info__area textarea {
  border: 1px solid #ccc;
  color: var(--text-color);
  font-family: var(--main-font-family);
  font-size: 15px;
  height: 250px;
  padding: 1rem;
  margin-top: 10px;
  resize: none;
  width: 96%;
}

.button-send {
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  color: var(--alternate-background);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.button-send:hover {
  background: var(--hover-background);
}
