.footer-content {
  background-color: var(--main-background);
  padding: 1.5%;
  display: flex;
  justify-content: space-around;
}
.text-copy {
  font-size: 0.875rem;
}

.footer-content strong {
  font-weight: bold;
}

.text-boot {
  font-size: 0.775rem;
}

.orange-text {
  color: var(--accent-color);
}

@media screen and (max-width: 720px) {
  .footer-content {
    padding: 1rem;
    flex-direction: column;
    text-align: center;
  }

  .text-copy {
    margin-bottom: 1rem;
  }

  .section-divider-footer {
    border-top: 3px solid #ffeee5;
  }
}
