/* menu list */
.menu__list {
  display: flex;
  align-items: center;
}

.introduction-content__cta-header {
  border-radius: 30px;
  background-color: var(--accent-color);
  color: var(--alternate-background);
  font-size: 15px;
  padding: 15px 20px;
  text-decoration: none;
}

.introduction-content__cta-header:hover {
  background: var(--hover-background);
}

/* menu item */
.menu__item {
  list-style: none;
  font-size: 0.9rem;
}

.menu__item:last-child .menu__link {
  margin-right: 0;
}

/* menu link */
.menu__link {
  color: #808080;
  margin-right: 1.25rem;
  text-decoration: none;
}

.menu__link.active {
  color: #333333;
  font-weight: bold;
}

.menu__link:hover {
  color: var(--accent-color);
  font-weight: bold;
}
