/* text */
.portfolio {
  background: var(--alternate-background);
  padding: 2%;
}

.portfolio__text {
  text-align: center;
}

/* options */
.options__list {
  display: flex;
  justify-content: center;
}

.options__item {
  margin-right: 2rem;
}

.options__link {
  color: var(--title-color);
  text-decoration: none;
}

.options__link:hover {
  color: var(--accent-color);
  font-weight: bold;
}

/* images */
.images__group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 2% 5%;
}

@media screen and (max-width: 720px) {
  .portfolio {
    padding: 2% 0;
  }

  .images__group {
  padding: 0;
  justify-content: center;
  align-items: center;
  padding: 5% 5%;
  gap: 20px;

  }
}