/* second introdution */
.second-introduction-content {
  background: var(--alternate-background);
}

.second-introduction-content__wrapper {
  align-items: center;
  column-gap: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 17%;
}

.second-text-content__title {
  color: var(--title-color);
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.second-text-content__text {
  color: var(--text-color);
  font-size: 0.75rem;
  margin-bottom: 2rem;
  line-height: normal;
}

/* information */
.information {
  display: flex;
  justify-content: center;
}

.information-content__icon {
  margin-bottom: 0.5rem;
}

.information-content__title {
  color: var(--title-color);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.information-content__text {
  color: var(--text-color);
  font-size: 0.75rem;
  margin-bottom: 2rem;
  line-height: normal;
}

@media screen and (max-width: 720px) {
  .second-introduction-content__wrapper {
    padding: 0;
    flex-direction: column;
    width: 100%vw;
  }

  .second-text-content__title {
    padding: 1rem 0 0 1rem;
    margin-bottom: 0;
  }

  .second-text-content__text {
    padding: 1rem;
    margin-bottom: 0;
  }

  .information {
    padding: 1rem;
    flex-direction: column;
  }

  .second-content__image__img {
    width: 100%;
  }
}
