/* text */
.team {
  background: var(--alternate-background);
  padding: 2%;
}

.team__text {
  text-align: center;
}

/* images */
.images-team__group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 2% 5%;
}
