@import url("./css/brand-header.css");
@import url("./css/menu.css");
@import url("./css/introduction-content.css");
@import url("./css/second-introduction.css");
@import url("./css/services.css");
@import url("./css/portfolio.css");
@import url("./css/faq.css");
@import url("./css/team.css");
@import url("./css/client.css");
@import url("./css/contact.css");
@import url("./css/subscribe.css");
@import url("./css/end-menu.css");
@import url("./css/footer.css");

:root {
    --main-background: #FEF8F5; 
    --alternate-background: #FFFFFE;
    --accent-color: #EB5D1E;
    --main-font-family: "Poppins";
    --title-color: #4e4039;
    --text-color: #a29289;
    --hover-background: #BD3900;
}

body {
    font-family: var(--main-font-family);
}

.text-paragraph {
    color: var(--text-color);
    font-size: 1.50rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.text-title {
    color: var(--title-color);
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 600;
}

.section-divider {
    border-bottom: 2px solid #ffeee5;
  }